header{
	padding-bottom: 2rem;
}
section h1{
	margin: 0 auto;
}
nav ul a,
nav .brand-logo {
	color: #444;
}

.font-navbar-links{
	font-weight: 200;
}
.font-navbar-brand{
	font-weight: 400;
}
.fixed-image-top{
	padding-top: 40px;
}

.title-name{
	font-size: 1.7rem;
	font-weight: 300;
	margin-bottom: .4rem;
}
.h1{
	font-weight: 400;
	font-size: 3rem;
}
.h1-margin {
	margin-top: 2rem;
	margin-bottom: 1rem;
}
.h2{
	font-weight: 300;
	font-size: 2rem;
}
.card-title {
	display: none;
}
.slides{
	width: 12rem;
	border: 1px solid black;
	border-radius: 5px;
	margin: .3rem auto;
	text-align: center;
	padding: .4rem 0;
}
.slide{
	display: none;
	font-weight: 300;
	font-style: italic;
}
.icon-size{
	font-size: 6.5rem !important;
}
.hidden{
	display: none;
}

#habilidades .container {
	width: 90%;
}

.no-margin-bottom{
	margin-bottom: 0px;
	padding-bottom: 3rem
}
.material-icons{
	color: black;
}
